numpy
cython
pillow==9.0.1
torch==1.7.1
torchvision>=0.8.1
yacs
opencv-python
PyYAML
cython-bbox
scipy
progress
motmetrics
matplotlib
lap
openpyxl
Pillow
tensorboardX
fvcore
protobuf==3.19.0
mmcv
timm
